/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {;
  @apply tracking-tight;
  @apply font-semibold;
  @apply text-balance;
}

h1 {

  @apply text-4xl;
  @apply lg:text-5xl;
}

h2 {
  @apply text-2xl;
  @apply lg:text-3xl;
}

body {
  @apply m-6;
  @apply font-normal;
  @apply text-sm;
  @apply lg:text-xl;
  @apply bg-white;
}

main {
  max-width: 65ch;
}

a {
  /* text-decoration: underline; */
  @apply underline;
  @apply underline-offset-8;
  transition: text-decoration-color 400ms text-decoration-thickness 400ms;
}

a:hover {
  @apply decoration-pink-600;
  @apply decoration-8;
}