/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {;
  @apply tracking-tight;
  @apply font-semibold;
  @apply text-balance;
}

h1 {

  @apply text-4xl;
  @apply lg:text-5xl;
}

h2 {
  @apply text-2xl;
  @apply lg:text-3xl;
}

body {
  @apply m-6;
  @apply font-normal;
  @apply text-sm;
  @apply lg:text-xl;
  @apply bg-white;
}

main {
  max-width: 65ch;
}

a:not([class]) {
  text-decoration: underline;
  @apply decoration-pink-600;
  @apply underline-offset-8;
}

a:not([aria-current="page"]):hover {
  @apply decoration-pink-600;
  @apply underline;
  @apply decoration-8;
}

a[aria-current="page"] {
  @apply underline;
  @apply decoration-purple-600;
}

a[aria-current="page"]:hover {
  @apply decoration-8;
}