---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Nick Taylor's live streaming schedule">
  <main
    id="main"
    class="mt-4 md:mt-8 lg:mt-16 sm:text-basemd:text-3xl max-w-prose grid gap-8"
  >
    <h1>About</h1>
    <p>
      I'm a developer advocate at <a href="https://pomerium.com">Pomerium</a>, a
      zero trust, identity-aware proxy platform that enables secure, clientless
      connections to web applications and services without a corporate VPN.
    </p>

    <p>
      With over a decade of open source contributions and five years of
      professional open source experience at companies like <a
        href="https://opensauced.pizza">OpenSauced</a
      >, <a href="https://dev.to">dev.to</a>, and <a href="https://netlify.com"
        >Netlify</a
      >, I bring deep community knowledge to my work. You'll often find me live
      streaming tech content, either solo or with friends from the community.
    </p>

    <p>Although I'm a huge fan of open source, I'm not a big fan of spiders.</p>
  </main>
</Layout>
