---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Nick Taylor's live streaming schedule">
  <main
    id="main"
    class="mt-4 md:mt-8 lg:mt-16 sm:text-basemd:text-3xl max-w-prose grid gap-8"
  >
    <h1>About</h1>
    <p>
      <em>Hello!</em> My name is Nick Taylor. I'm a Senior Software Engineer, open
      source maintainer & contributor, and a Cloudinary Ambassador. I'm not a big
      fan of spiders, but I know they're doing good work eating bugs. I am a <em
        >big</em
      > fan of TypeScript, JavaScript, Node, and all things frontend. Aside from
      programming, I enjoy contributing to open source, hitting the gym, snowboarding,
      and rugby a long time ago. More about me can be found on my personal site,
      <a href="https://www.nickyt.co">nickyt.co</a>.
    </p>
  </main>
</Layout>
