---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Nick Taylor's live streaming schedule">
  <main
    id="main"
    class="mt-4 md:mt-8 lg:mt-16 sm:text-basemd:text-3xl max-w-prose grid gap-8"
  >
    <h1>About</h1>
    <p>
      Hi! My name is Nick Taylor.I am a Microsoft MVP, GitHub Star, Software
      Developer, and Developer Advocate. With over two decades in technology and
      a decade of open source contributions, plus five years of professional
      open source work at companies like <a href="https://opensauced.pizza"
        >OpenSauced</a
      >, <a href="https://dev.to">dev.to</a>, and <a
        href="https://www.netlify.com/">Netlify</a
      >, and now <a href="https://pomerium.com">Pomerium</a>, I bring deep
      community knowledge to my work. You'll often find me live streaming tech
      content, either solo or with friends from the community. Wanna get in
      touch? Drop me an e-mail at nick at nickyt dot co.
    </p>
  </main>
</Layout>
