---
import StreamSchedule from "../components/StreamSchedule.astro";
import Layout from "../layouts/MainLayout.astro";
import {
  getStreamSchedule,
  get2Full2StackStreamSchedule,
} from "../utils/schedule-utils";

const { AIRTABLE_STREAM_GUEST_BASE_ID, AIRTABLE_API_KEY } = import.meta.env;

if (!AIRTABLE_API_KEY || !AIRTABLE_STREAM_GUEST_BASE_ID) {
  throw new Error("Missing required environment variables");
}

const locale =
  Astro.request.headers.get("Accept-Language")?.split(",")[0] ||
  Astro.request.headers.get("Accept-Language") ||
  "en-US";

const schedule = await getStreamSchedule({
  apiKey: AIRTABLE_API_KEY,
  baseId: AIRTABLE_STREAM_GUEST_BASE_ID,
});

const cfeSchedule = await get2Full2StackStreamSchedule();

const { timezone = "" } = Astro.locals.netlify.context.geo;

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=43200, must-revalidate"
);
Astro.response.headers.set("timezone", timezone);
Astro.response.headers.set("Netlify-Vary", "header=Accept-Language|timezone");
---

<Layout title="Nick Taylor's live streaming schedule">
  <main id="main" class="mt-4 md:mt-8 lg:mt-16 sm:text-basemd:text-3xl">
    <div class="grid gap-8">
      <h1>Stream Schedule</h1>
      { schedule.length === 0 && cfeSchedule.length === 0 ?
        <p>No upcoming streams scheduled. Check out the <a href="/archive">archives</a>!</p>
      :
      <StreamSchedule
        schedule={schedule}
        cfeSchedule={cfeSchedule}
        locale={locale}
        timezone={timezone}
      />}
    </div>
  </main>
</Layout>
