---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nick Taylor's live streaming channels">
  <div class="grid gap-6 place-content-center">
    <header class="grid place-content-center">
      <h1 class="text-yellow-400">Welcome to nickyt.live!</h1>
    </header>
    <main>
      <nav aria-label="main navigation">
        <ul class="list-none flex gap-6 flex-col lg:flex-row items-center">
          <li>
            <a href="https://twitch.tv/nickytonline">Nick's Twitch Channel</a>
          </li>
          <li
            class="w-80 h-80 bg-white rounded-full bg-gradient-to-br from-purple-400 to-blue-500 border-4 border-gradient overflow-hidden relative"
          >
            <img
              src="/assets/alpaca.png"
              alt="Nick's Alpaca"
              class="absolute p-3 -bottom-3 aspect-auto"
            />
          </li>
          <li>
            <a href="https://nickyt.tube">Nick's YouTube Channel</a>
          </li>
        </ul>
      </nav>
    </main>
  </div>
</Layout>
