---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header class="lg:sticky top-0 pt-6 pb-6 bg-white z-10">
  <div class="flex flex-col items-center md:items-start md:flex-row gap-6">
    <div class="flex flex-col gap-6 items-center md:items-start">
      <h1 class="font-outfit md:text-6xl lg:text-8xl font-medium">
        nickyt<span class="text-pink-600">.</span>co
      </h1>
      <nav
        aria-label="main navigation"
        class="mt-2 text-xl md:text-2xl lg:text-3xl"
      >
        <ul class="list-none flex gap-6 place-content-center flex-wrap">
          <li>
            <a href="/" aria-current={currentPath === "" ? "page" : "false"}
              >Home</a
            >
          </li>
          <li>
            <a
              href="/blog"
              aria-current={currentPath === "blog" ? "page" : "false"}
            >
              Blog
            </a>
          </li>
          <li>
            <a
              href="/archive"
              aria-current={currentPath === "archive" ? "page" : "false"}
              >Past Streams
            </a>
          </li>
          <li class="relative group">
            <a href="#">Channels</a>
            <div
              class="absolute invisible opacity-0 transition-all duration-300 transform -translate-y-1 group-hover:visible group-hover:opacity-100 group-hover:translate-y-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-0 right-0 md:right-auto md:left-0 z-20"
            >
              <ul
                class="mt-4 p-4 grid gap-4 border border-black [&_a]:block [&_a]:w-full [&_a]:whitespace-nowrap bg-white min-w-[200px] shadow-lg z-30"
              >
                <li>
                  <a href="https://twitch.tv/nickytonline">Twitch</a>
                </li>
                <li>
                  <a href="https://youtube.com/@nickytonline">YouTube</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/nickytonline">LinkedIn</a
                  >
                </li>
                <li>
                  <a href="/2full2stack">2 Full 2 Stack </a>
                </li>
                <li>
                  <a href="/pomerium-live">Pomerium Live </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
              href="/guest-appearances"
              aria-current={currentPath === "2full2stack" ? "page" : "false"}
              >Guest Spots
            </a>
          </li>
          <li>
            <a href="https://nickyt.online">Socials</a>
          </li>
          <li>
            <a
              href="/about"
              aria-current={currentPath === "about" ? "page" : "false"}
              >About
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
