---
import { Image } from "astro:assets";
import alpaca from "../images/alpaca.png";
---

<header class="sticky top-0 pt-6 pb-6 bg-white">
  <h1
    class="flex flex-col items-center md:items-start md:flex-row gap-6 text-3xl sm:text-4xl md:text-6xl lg:text-8xl"
  >
    <div
      class="w-40 h-40 md:w-80 md:h-80 bg-white rounded-full bg-gradient-to-br from-pink-700 to-white border-4 border-gradient overflow-hidden relative"
    >
      <!-- TODO: Tweak this by shipping a smaller image as well -->
      <Image
        width="310"
        height="310"
        src={alpaca}
        alt="Nick's Alpaca"
        class="absolute p-3 -bottom-3 aspect-auto transform transition-transform duration-300 ease-in-out"
        loading="lazy"
        decoding="async"
      />
    </div>
    <div class="flex flex-col gap-6 items-center md:items-start">
      <span
        >nickyt<span class="text-pink-600">.</span>live<span
          class="text-pink-600">!</span
        ></span
      >
      <nav aria-label="main navigation" class="mt-2 sm:text-xl md:text-3xl">
        <ul class="list-none flex gap-6 items-center">
          <!-- <li>
            <a href="/schedule" data-twitch>Schedule</a>
          </li> -->
          <li>
            <a href="https://twitch.tv/nickytonline" data-twitch>Twitch</a>
          </li>

          <li>
            <a href="https://nickyt.tube">YouTube</a>
          </li>
        </ul>
      </nav>
    </div>
  </h1>
</header>
