---
interface Props {
  youtubeUrl?: string;
  linkedinUrl?: string;
  cfeUrl?: string;
}

const TWITCH_STREAM_URL = "https://www.twitch.tv/nickytonline";

const { youtubeUrl, linkedinUrl, cfeUrl } = Astro.props;
---

<div>
  Watch live on:
  {
    cfeUrl ? (
      <ul class="flex gap-4">
        <li>
          <a href={cfeUrl}>CFE.dev</a>
        </li>
      </ul>
    ) : (
      <ul class="flex gap-4">
        <li>
          <a href={TWITCH_STREAM_URL}>Twitch</a>
        </li>
        {youtubeUrl ? (
          <li>
            <a href={youtubeUrl}>YouTube</a>
          </li>
        ) : null}
        {linkedinUrl ? (
          <li>
            <a href={linkedinUrl}>LinkedIn</a>
          </li>
        ) : null}
      </ul>
    )
  }
</div>
<style>
  a:not(class) {
    text-decoration: underline;
  }
</style>
